.form {
  padding-top: 2em;
  display: block;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
.form__input {
    display: block;
    height: 2em;
  padding: 0.4em 1em;
  border-radius: 0.5em 0 0 0.5em;
  border: none;
  font-size: inherit;
}
.bottom {
  display: block;
  height: 2em;
  padding: 0.4em 1em;
  border: none;
  width: 8em;
  border-radius: 0 0.5em 0.5em 0;
  background-color: rgb(124, 189, 27);
  color: white;
  font-size: inherit;
  font-weight: 700;
  &:hover{
    filter: brightness(1.4);
  }
}
